@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.section-h1{
  display: flex;
  flex-direction: column;
  align-items: center;   /* vertical center */
  justify-content: center; /* horizontal center */
  height: 100vh;         /* full screen height */
  width: 100%;
  
  font-size: 200px;
  color: #92afcf;
  text-align: center;
  font-weight: bold;
  padding-top: 0;
     font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section-div{
  display: flex;
  justify-items: center;
  align-items: center;
}