.beveled-shape {
  clip-path: polygon(0 0, 90% 0, 100% 15%, 100% 100%, 0 100%);
  
 
  background-color: var(--bg-main);
  color: var(--text-main);
  
  
  border: 1px solid var(--border-color); 
  transition: all 0.3s ease;
}


html.dark .beveled-shape {
  background: #0d0d12;
  box-shadow: inset 0 0 50px rgba(79, 70, 229, 0.1);
}