@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
.nav-premium {
  position: relative;
  padding-bottom: 4px;
  transition: 0.25s ease;
}

.nav-premium::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #6366f1, #a5b4fc);
  transition: width 0.3s ease;
  border-radius: 10px;
}

.nav-premium:hover::after {
  width: 100%;
}

.drop-link {
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
  transition: 0.2s ease;
}

.drop-link:hover {
  background: rgba(255, 255, 255, 0.07);
}
