.thanks {
    clip-path: polygon(
        40px 0%,       
        calc(100% - 40px) 0%,
        100% 40px,         
        100% calc(100% - 40px), 
        calc(100% - 40px) 100%,
        40px 100%,        
        0% calc(100% - 40px), 
        0% 40px         
    );
}